.toast {
  position: fixed;
  width: 100%;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  padding: 14px 40px;
  background-color: rgb(var(--lsd-surface-secondary));
  color: rgb(var(--lsd-text-secondary));
  text-align: center;
  z-index: 1000;
  min-height: 48px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
}

.toast a {
  margin-left: 16px;
  color: rgb(var(--lsd-text-secondary));
  text-decoration: underline;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 28px;
  height: 28px;
  border: 1px solid rgb(var(--lsd-border-secondary));
  background: transparent;
  padding: 0;
}

.timeRemaining {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .toast {
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    padding: 14px;
  }

  .message {
    width: 82%;
  }

  .toast p {
    width: 75vw;
  }
}
