.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  left: 0;
  top: 0;
  overflow: hidden;
}

.formContainer {
  padding: 24px;
  position: relative;
  width: 360px;
  height: 280px;
  z-index: 9999;
  color: rgb(var(--lsd-text-primary));
  left: 0;
  top: 0;
  overflow: hidden;
}

.formContainer > h3 {
  width: 300px;
  margin-top: 0 !important;
  font-size: 22px;
  line-height: 32px;
  color: rgb(var(--lsd-text-primary));

  white-space: pre-wrap;
  margin-bottom: 24px;
}

.formContainer > p {
  color: black;
  font-family: sans-serif;
}

.formContainer form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.formContainer form input:focus {
  outline: none;
  border-color: rgb(var(--lsd-text-primary));
}

.formContainer form input::placeholder {
  color: #ccc;
}

.formContainer form input {
  color: rgb(var(--lsd-text-primary));
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(var(--lsd-text-primary));
  padding: 4px 8px;
  font-family: sans-serif;
}

.formContainer form button {
  cursor: pointer;
  background: rgb(var(--lsd-text-primary));
  color: rgb(var(--lsd-text-secondary));
  border: 1px solid rgb(var(--lsd-text-primary));
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.formContainer form button:hover {
  background: #2c2c2c;
  transition: background-color 0.2s ease;
}
